html
  head
    title Blog Application
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
  body
    nav(class="navbar navbar-light bg-faded")
      a(class="navbar-brand" href="/") Home
      a(href="/posts/new" class="btn btn-success float-xs-right") Create new post

  #content.row-fluid(align="right" margin="5px")
    .span2.sidebar
      h3 About this post
      ul.nav.nav-tabs.nav-stacked
        li
          a(href='#') Contact us
        li
          a(href='#') More info
        li
          a(href='#') Another Link
    block content
